<!--This is the user's view part-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>user</title>
    <link rel='stylesheet' href='/stylesheets/button.css' />
</head>

<body>
    <h1>你好,<%=user_name%>!欢迎来到你的空间！</h1>
    <h2><%=message%></h2>
    <div id="butt">
        <button class="but" onclick="window.location.href='/logout'">退出登录
        </button>
    </div>
</body>

</html>